{{'                                                                           '|style('purple')}}
{{'************************************************************************** '|style('purple')}}
{{' **************************************************************************'|style('purple')}}
{{'                                                         '|style('purple')}}{{'*'|style('darkblue')}}{{'**               '|style('purple')}}
{{'         *******    *******    **    ** ****    *******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**              '|style('purple')}}
{{'         '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**   '|style('purple')}}{{'*'|style('darkblue')}}{{'***       '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**             '|style('purple')}}
{{'          '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**   '|style('purple')}}{{'*'|style('darkblue')}}{{'**        '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**            '|style('purple')}}
{{'           '|style('purple')}}{{'*'|style('darkblue')}}{{'**        '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**   '|style('purple')}}{{'*'|style('darkblue')}}{{'**        '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**           '|style('purple')}}
{{'            '|style('purple')}}{{'*'|style('darkblue')}}{{'**        '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**   '|style('purple')}}{{'*'|style('darkblue')}}{{'**        '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**          '|style('purple')}}
{{'             '|style('purple')}}{{'*'|style('darkblue')}}{{'**        '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**   '|style('purple')}}{{'*'|style('darkblue')}}{{'**        '|style('purple')}}{{'*'|style('darkblue')}}{{'*******   '|style('purple')}}{{'*'|style('darkblue')}}{{'**         '|style('purple')}}


{{ "Poirot reporting back: "|style('darkgreen') }} {{ info['repo_url']|style('green') ~ " :"|style('darkgreen') }}

Hit {{"space"|style('bold')}} to continue and {{"q"|style('bold')}} to quit
{{"================================================================================="|style('gray')}}
{% for term in data %}{%if data[term] | length > 0 %} {{"Pattern"|style('bold')}}:  {{ term }}
{% if info['patterns'][term] %} Description:  {{ info['patterns'][term] }}{%endif%}
{% if info['staged']%} {% for file in data[term]['staged']['files'] %}
  {{file['file']|style('darkgreen')|fail}}
 {%for match in file['matches']%}
    Line {{match['line']}}:
{{match['text']|highlight(term)|wrap(80, 4)}} 
{%endfor%} 
{{"================================================================================="|style('gray')}}{%endfor%}
{%else%}{% for commit in data[term] %}
{{"---------------------------------------------------------------------------------"|style('gray')}}
  Commit {{ info['repo_url']|style('darkblue')}}{{"/commit/"|style('darkblue')}}{{ commit |style('darkblue')}}
  Author {{ data[term][commit]["author_name"]}}, {{ data[term][commit]["author_email"]|strip}}
  Date {{ data[term][commit]["author_date"]}}{% if data[term][commit]["log"]%}
  
    {{"Commit Message"|style('darkgreen')|fail}}
{{data[term][commit]["log"]|highlight(term)|wrap(80, 4)|strip}}{%endif%}{% for file in data[term][commit]['files']%}

  {{file['file']|style('darkgreen')|fail}}
{% for match in file['matches']%}
    Line {{match['line']}}:
{{match['text']|highlight(term)|wrap(80, 4)}}
{%endfor%}{%endfor%}
{% endfor %}
{{"================================================================================="|style('gray')}}
{%endif%}{%endif%}{%- endfor %}

{{'-------------------------------------------------------------------------------'|style('purple')}}
{{'      What do you do when you find something that shouldn\'t be there?         '|style('purple')}}
{{'                                                                               '|style('purple')}}
{{'         https://help.github.com/articles/remove-sensitive-data                '|style('blue')}}
{{'-------------------------------------------------------------------------------'|style('purple')}}
